[2014-02-15 10:19] svx opened #1 "permissions"
hi,

can someone with the right permissions check ? I can not push :)

[2014-03-29 14:50] polyester opened #2 "autosummary"
external docs for plone.api depend on the autosummary module being enabled.

[2014-03-30 09:27] svx opened #3 "get_external_doc.sh and osx"
get_external_doc.sh is using 'find' this will not work out of the box with OSX

[2014-04-02 09:22] #2 closed, assigned to nobody

[2014-04-02 09:22] #1 closed, assigned to nobody

[2014-04-04 13:32] #3 closed, assigned to nobody

[2014-04-26 08:59] svx opened #4 "Pin Pygments to latest version for robot framework"
It should be enough to pin the latest Pygments.

[2014-05-12 10:20] svx opened #5 "Update config to set opensearch to 'true'"
We want this to allow Firefox to detect the open-search plug-in which will make it easier for user to install this plug-in via Firefox itself

[2014-05-12 10:20] #5 closed, assigned to nobody

[2014-05-30 12:46] svx opened #6 "Is there a way to rename the teadme to rst"
I know readme got renamed into txt bit is there a way that we can fix this ? I really prefer to eat our own dog food here.

[2014-05-30 13:00] #6 closed, assigned to giacomos

[2014-06-01 08:04] svx opened #7 "How to work with transifex ?"
Where can I find how to work with transifex ?

[2014-06-05 09:30] svx opened #8 "write a test script for ci-intregration [jenkins]"
We want to hook up the documentation to jenkins for ci, for this we need a script or something with basic tests, the idea is, jenkins runs the test, if the test passed jenkins will upload the new build html to docs.plone.org.
We could test some basics like links and html:
## check_docs.py

[code]

this is just an idea, this script is not tested and maybe written in really bad python, it is just to

[2014-06-10 17:45] #4 closed, assigned to nobody

[2014-06-29 16:40] svx opened #10 "sphinx.themes.plone: change from git checkout do pypi egg"
Since we now have the themes as egg, would it an idea to change from git checkout to the egg ?

[2014-06-30 06:58] svx opened #11 "buildout problem"
If I run buildout  get:
Got plone.app.collection 1.0.11.
Getting required 'plone.app.blob==1.5.9'
We have no distributions for plone.app.blob that satisfies 'plone.app.blob==1.5.9'.
While:
 Installing sphinx-build.
 Getting distribution for 'plone.app.blob==1.5.9'.

File "/usr/lib/python2.7/socket.py", line 476, in readline
    data = self._sock.recv(self._rbufsize)
timeout: timed out

I tried tha

[2014-06-30 07:05] svx opened #12 "Make buildout.cfg more modular"
At the moment, we have everything in one long buildout.cfg from the base setup, over transiflex to our robots, this makes the buildout.cfg becoming harder to maintain and also often I do not need/want everything [read testing for example].
Would it an idea to move all the different parts into their own config dirs and just include them into the main buildout.cfg .
example:
config/versions
config/t

[2014-06-30 08:14] #11 closed, assigned to nobody

[2014-07-11 18:05] svx opened #15 "Documentation about papyrus"
we are still missing good docs about papyrus itself, so far we have the readme which is already a good start ! since papyrus can do a lot we should document them properly following our own best practices !

proposal:
- create docs dir
- create inside the docs dir different sections [robots, get external, git sparse, building html,pdf, ...]
- rewrite readme and link to docs dir
- include docs about

[2014-07-29 14:51] svx opened #16 "august 2014 release"
[ ] fix spell-check, see: https://github.com/plone/papyrus/tree/spellcheck
[ ] add instructions about install dependencies on Ubuntu
[ ] update Makefile with spell-check option
[ ] update Makefile with 'test' option which will run link-check and spell-check

[2014-07-29 16:04] #16 closed, assigned to nobody

[2014-08-16 17:23] datakurre opened #17 "Pin robotframework related versions from p.a.robotframework repo"
to get the known good versions

[code]

[2014-08-18 13:20] svx opened #18 "check age of files"
have a script which will check the age of a file, and give a warning if the modification date is older than a certain time
this is handy for quality testing

script:

[code]

and then just do:
sort -M -k 2 on the output which we redirected to a file

with this jenkins is able to give us a pretty warning aka: 'please check the file: develop/addons/components/genericsetup.rst is not modified for mor

[2014-09-01 15:15] svx opened #20 "build script for docsets"
* we need a script for building docsets of the different versions, this is needed for updating our docs on dash/zeal
* add script to Makefile
* make sue that it will work for dash and for zeal

[2014-09-09 18:48] macagua opened #21 "ImportError: cannot import name _error_start"
Hi @datakurre

I am trying to update the plone.pot file for extract the new msgids and shows me this error:

[code]

Any idea?

[2014-09-10 00:05] #17 closed, assigned to nobody

[2014-09-11 15:40] svx opened #23 "Add Dash docs to papyrus"
- creating a docset and opening a pull request which is suited for Dash needs a certain workflow, add docs about this to papyrus

[2014-09-11 16:42] svx opened #24 "doc2dash error"
I am trying to install doc2dash within the buildout, this is needed to create a docset, but I am getting this error:

Got doc2dash 2.0.0.
Picked: doc2dash = 2.0.0
The constraint, 3.6.7, is not consistent with the requirement, 'zope.interface==4.1.1'.
While:
  Installing sphinx-build.
Error: Bad constraint 3.6.7 zope.interface==4.1.1

If I install doc2dash via pip into the virtualenv where I am run

[2014-09-26 14:05] #23 closed, assigned to nobody

[2014-09-28 15:03] #24 closed, assigned to nobody

[2014-09-28 15:06] #10 closed, assigned to nobody

[2014-09-28 16:38] svx opened #30 "Update Makefile"
If I do ' make html ' per default robot-tests are running, is it possible to change that, or add another command to the Makefile which is building html but not running the robots ?

If that would be possible, that would help a lot and also resolve a couple of issues :)

[2014-09-29 08:25] #30 closed, assigned to datakurre

[2014-09-29 08:26] #12 closed, assigned to nobody

[2014-11-24 08:11] svx opened #33 "plone3 branch - check externals.txt"
Update external checkins:

plone.api docs should go what is with the other ones ?

If there are removed, fix the docs, otherwise we will get lots of build errors

[2014-12-08 07:31] svx opened #34 "buildout.cfg plone 3 branch"
buildout.cfg in the plone3 branch is using plone 4 for screen shots, this should be fixed

[2014-12-08 09:32] svx opened #35 "Update Makefile"
atm, we have lots of make functions which are not explained under help, this is dirty and too 'hacky' so this should be fixed !

[2014-12-08 12:41] svx opened #36 "Missing arrows to browse docs with external includes"
If I include external docs via our setup and the external docs have more pages, I miss the arrows in the footer to browse all the docs.

[2014-12-11 22:27] loechel opened #37 "Updates on externals?"
Are the externals docs getting updated on a new build?

[2015-01-05 14:16] polyester commented on #36
Could you give an example? For instance when I go to http://docs.plone.org/external/plone.app.dexterity/docs/custom-views.html there's arrows in the footer.

[2015-01-05 14:24] svx commented on #36
Oh sorry my bad ! I forgot to close the ticket. I already fixed that for the last docs release, the reason was a badly formated .rst file

[2015-01-05 14:24] #36 closed

[2015-01-05 14:31] svx commented on #37
closing this, feel free to re-open if you have questions :)

[2015-01-05 14:31] #37 closed

[2015-01-05 14:31] svx commented on #21
closing this now, feel free to re-open :)

[2015-01-05 14:31] #21 closed

[2015-01-16 19:25] svx opened #39 "Add info.plist for Plone 3 docset"
Add file for build script

[2015-01-19 09:55] svx commented on #39
done !

[2015-01-19 09:55] #39 closed

[2015-02-09 16:33] svx opened #40 "todo: Plone 5 change loactions of includes"
- Change the structure of external includes, /external is fine for external stuff like pfg, but change this for example for mb.bob, meaning fetch them and put them not under external but straight to the right place in the docs, do the same for exmaple later on with cmf stuff.

reason: to avoid urls, with external in it, like api, cmf and so on.

the idea so far is start with that from Plone 5 on,

[2015-02-11 08:41] svx commented on #20
done !

[2015-02-11 08:41] #20 closed

[2015-02-11 09:01] svx commented on #35
done !

[2015-02-11 09:01] #35 closed

[2015-02-11 14:16] svx opened #41 "spell check is broken"
spell check is not working anymore, even better which each run I get different results on a file which is not changed at all.
also the makefile is giving errors ....

[2015-02-11 15:12] polyester commented on #41
I think it has more to do with
https://github.com/plone/papyrus/commit/0b72621b4ba1d9669a6dc7556f26734fc1a58132

[2015-02-11 15:22] polyester commented on #41
Yep, just checked, putting it back in documentation makes it work again.

[2015-02-11 18:44] #41 closed

[2015-02-11 19:18] svx commented on #18
maybe include that for now into mr.publisher ?

[2015-02-11 19:23] svx commented on #8
so far we want to test:
- links
- typos
- age of file

but what would be good settings, like for example say: we allow 20 typos and 20 broken links?

[2015-02-11 21:27] gforcada commented on #8
@svx isn't trend more important than absolute value? i.e. if from release to release the overall numbers are lowering, that's a good thing, if numbers are increasing ping someone to review things.

If we store the raw data from these sphinx-build calls then we can just send that once per week to somewhere, and of course keep it on jenkins so that it's easy findable.

[2015-02-12 10:24] svx commented on #8
@gforcada I want to have both :)
I do want to see the trend and want to produce nice stats  but I also want to prevent to push a release where it got worse.
The whole idea in the long run is to let jenkins take care about releases, so that I can sit back and enjoy caipirinhas.

[2015-02-12 10:28] gforcada commented on #8
@svx of course, that what we want for plone itself.

Actually we could generate docs once a package tests or full suite runs successfully.

Do we have a centralized storage place for per-package docs or everything is under the umbrella of docs.plone.org and thus you need to build it on a single run?

[2015-02-12 10:38] svx commented on #8
@gforcada at the moment we have a mix, some stuff is in the docs repo, and some other stuff we pull straight from the repo of the package, like plone.api and other stuff, I tend to do that more and more in the future, because with this it would be easier for devs to keep their docs up to date, for example if you work on ui stuff, just add a robot-screenshot, to your test and we will have always up

[2015-02-16 08:57] svx commented on #40
We have to rethink, our current includes from external docs, our current setup works fine for 'non core' docs, since they go into /external but this implementation is not great for 'core docs'.
I want to put 'core docs' not under /external but where they belong, like for example /develop/addons/bobtemplates.
Further and this is not an issue here, but in some 'core add-ons', we have to make sure th

[2015-02-16 12:38] polyester commented on #40
There's no *structural* reason we're putting external docs under /external, it just makes it clear that these are not to be found in the repo, and need to be edited elsewhere. But if it's a 'core' add-on, it for sure can be included directly in the right place.

But: I would make it a **condition** then that the add-on follows the styleguide. This is not a nice-to-have, but a condition.

[2015-02-16 13:49] svx commented on #40
Yes, that is exatly what we have with for example bobtemplates, that is why I opened: https://github.com/plone/bobtemplates.plone/issues/34

[2015-04-17 13:56] svx opened #42 "Update build instructions to run robots"
Looks like this went wrong during the latest release, we have to make sure that the robot-screenshots are included

[2015-04-29 09:43] svx opened #43 "Change html build to dirhtml ?"
From the man page:

dirhtml:
- Build HTML pages, but with a single directory per document. Makes for prettier URLs (no .html) if served from a webserver

[2015-04-29 10:30] polyester commented on #43
Hmmm, I don't like it very much

- some ugly URL's will arise (starting with # is a bit harsh) if you use TOC's up to header-level (like we do)
- local browsing (without webserver that makes the magic "index.html is default file in a directory" switcheroo that is required for this to work) is broken
- breaks the 'one rst becomes one html' rule in my head

but hey, I'm a traditionalist...

[2015-04-29 11:00] svx commented on #43
Yeah I am also not sure, I just came is across during research about better testing of docs and jenkins, I will try it out on a test setup and will see what it does in rl ...

[2015-04-30 13:11] polyester opened #44 "add sphinxcontrib-findanything?"
adding 'sphinxcontrib-findanything' to the eggs in buildout.cfg and enabling it in conf/conf.py gives you a rather wonderful, "just start typing" way to search for content.

We'd need to document it, and it may need some CSS love, but it does work very well. Would this be a good idea? I like it.

[2015-04-30 13:12] svx commented on #44
UH I will try just a couple of minutes !

[2015-04-30 13:21] svx commented on #44
This is oot only partly working on a quick test build -  I guess this needs a bit more research

[2015-04-30 13:21] svx commented on #44
on another note, I really would like to use solr for search, the build in search is quite limited

[2015-05-01 11:34] svx commented on #44
Hm .. just testing on master docs build, I added the egg to buildout, run buildout and to the conf, but at least here it is doing *nothing* do I have to do more ?

[2015-05-01 11:36] svx commented on #44
correction is is working under chrome but not with firefox at least not on my machine [yet] ?

[2015-05-01 11:39] svx commented on #44
gosh .. correction again, now its working with firefox, but .. wow ... the documentation of this add-on is bad .....

[2015-05-01 11:56] svx commented on #44
I changed the font size to 120, but still we have problems with long parts [see image]

![findeverything_pd](https://cloud.githubusercontent.com/assets/358860/7429857/988c85f2-f009-11e4-9d1d-426700365c2b.png)

The other thing is, could it confuse visitors if the click per accident on the page and the search box will pop up ?

[2015-05-02 13:12] svx opened #45 "Upgrade sphinx"
We should try to upgrade the the latest version, we will get improvements, this also will mean we have to upgrade docutils, pygments and jinja

[2015-05-02 17:41] polyester commented on #45
done with https://github.com/plone/papyrus/commit/0cb668c7d690ec304c78dbc75492936c4166a592

[2015-05-02 17:41] #45 closed

[2015-05-04 10:56] svx opened #46 "Add make function to faster version specific building"
Add function for building p5 or p4 docs only

- will check-out the right branch of papyrus
- will check-out the right version of the docs
- will build it

[look at mr.publisher as an example]

[2015-05-04 10:59] svx opened #47 "Add devpi to docs"
add devpi to docs, this will fasten up your build time a lot

[2015-05-04 14:29] svx commented on #40
ok ! will close that now, everything is clear and sorted out

[2015-05-04 14:29] #40 closed

[2015-05-04 14:33] svx commented on #15
this is done in the docs of the theme

[2015-05-04 14:33] #15 closed

[2015-05-04 14:34] svx commented on #42
the bug was the path to the images and not how we run robots, closing this now

[2015-05-04 14:34] #42 closed

[2015-05-04 14:38] svx commented on #43
ok I just tested and I say we stick to what we use already, closing this

[2015-05-04 14:38] #43 closed

[2015-05-04 14:47] svx commented on #18
@gforcada would it make sense to run this with jenkins ?

I am not sure about that, the idea is to set a date, for example one year, and if the file is not updated for a year you will get a warning like 'please check $FILE', that does not mean the file is wrong, maybe there are no updates at all, but maybe you just forget to update it :)

I am just not sure if jenkins would be the right place for

[2015-05-04 21:13] gforcada commented on #18
@svx Jenkins is the perfect place for that!

Not only because it allows you to not have that cron job, but at the same time it gives visibility to it, you can send it by email to a public mailing list and so on...

I would say that instead of just 1 year I would just sort all files by age, no need to filter by a certain time...

Where can I find the script to run this on jenkins?

[2015-05-07 09:20] svx opened #48 "Use sphinxcontrib-images"
For certain images this could be useful, example is here: https://youtu.be/TGtGhbH2hcw

[2015-05-12 19:18] svx opened #49 "Review sphinxcontrib.gist add-on"
This could be nice for including handy gists for example for: https://github.com/plone/documentation/issues/224

So we should review and test: https://pypi.python.org/pypi/sphinxcontrib.gist

[2015-05-12 19:25] svx opened #50 "Review and test: sphinxcontrib-dashbuilder"
with this add-on we could build dash/zeal in one go, our current setup for this is way more complicated

link: https://pypi.python.org/pypi/sphinxcontrib-dashbuilder

[2015-05-14 15:49] svx commented on #49
done via https://github.com/plone/papyrus/pull/52

[2015-05-14 15:49] #49 closed

[2015-05-14 17:02] svx commented on #50
I just tested that and it is working, but since there is currently a huge difference between the functionality from zeal [linux] and dash [osx] I am not sure if its worth to support docsets at all.

Since both projects do not work really together we have now already the situation that dash is not supporting certain settings [add-ons we use with sphinx] from sphinx build html docs.

This is not a s

[2015-05-18 09:18] svx commented on #50
@polyester looks like we have to make a decision here, if we want to use gists for config examples we cant use dash/zeal as offline tool for reading docs, because dask/zeal will not show gists.

[2015-05-18 09:30] svx commented on #50
Hold on!

coffee helps, I have an idea how to solve that, we will include the link to the gist and the gist.

So even is dash/zeal are not showing the gist, you can still see the link to the gist, not perfect but better than not showing something at all.

[2015-05-18 14:44] svx commented on #18
@gforcada hm I have to look it up again, it should be more or less like what I wrote in the top post but I will check :)

[2015-05-19 15:23] gforcada commented on #18
@svx I will give it a try during the week (hopefully), now the question is what steps need to be done before that git fu? I mean which repository needs to be cloned and after cloning what needs to be done before running?

So something like this would be enough (pseudo code ahead):

[code]

Or some sort of bootstrap needs to happen before that?

[2015-05-19 15:46] svx commented on #18
Ok, don't run away, this is now really bad bash, but enough as an example :)

script:
[code]
If we run this in a repo/branch we will get output like:

...
2015-05-06 20:48:17 +0200 develop/addons/components/genericsetup.rst
2015-05-11 12:52:55 +0200 develop/plone/misc/annotations.rst
2015-05-14 15:25:00 +0200 develop/addons/index.rst
2015-05-14 15:25:00 +0200 develop/addons/paste.rst
....

which i

[2015-05-19 16:44] svx commented on #50
done !

[2015-05-19 16:44] #50 closed

[2015-05-19 16:45] svx commented on #48
ping ! any comments ? people think that could be useful ?

[2015-05-19 16:47] svx commented on #46
well since mr.publisher that can do I do not see the use case anymore

[2015-05-19 16:47] #46 closed

[2015-05-19 16:47] svx commented on #44
@polyester do you still want to include this in the next release or at all ?

[2015-05-19 16:53] polyester commented on #48
Haven't had time to check it; it's worth checking for a11y compliance. Can try tomorrow

[2015-05-19 16:54] polyester commented on #44
not in next release; maybe later. I do think it's nice, but should be called up by a hotkey and not just pressing any key.

[2015-05-19 21:19] gforcada commented on #18
So I get that it needs to be run on documentation repo? Cloning is enough or some bootstraping (fetch external sources, etc) needs to be done?

Or is something to run on each docs folder for each plone repository? (i.e. CMFPlone, plone.app.testing, mockup, etc etc) ?

[2015-05-20 06:40] svx commented on #18
No we do need anything else, we only need to do a checkout of the documentation repo and run it there.

Later if we want to run it on the branches we have to switch to them, but for the begin I say we start with master and first get it working and later we will do it for the branches :)

[2015-05-20 21:28] loechel opened #53 "Use sphinxcontrib-plantuml to include UML-diagramms for Documentation"
Might it be possible or considerable to include UMl-Diagrams in the Documentation?

For example I would like to have all Plone Workflows documented as UML State Machine Diagrams and willing to write them. But I think it should be done in a straightforward way of writing docs. PlantUML seems to be a possible solution for that.

Any thought on that?

[2015-05-21 06:51] svx commented on #53
Hm .. reading the docs about plantuml, that would mean we have to add java as dependency of papyrus. do we think that is worth doing it ?

I am personally not really a huge fan of installing that in my build server, but if people think that is useful and we will use for more than one or two uml diagrams I may consider that :)

I guess if we only use a couple of diagrams it would be easier to make

[2015-05-23 15:02] svx opened #54 "Check new mr.developer functions"
Like here:

http://gil.badall.net/2015/05/23/fast-clones-for-faster-ci/

This could be handy for us, to speed up and for disk space

[2015-05-23 15:17] gforcada commented on #54
Wait for it, it's completely broken ... I just tried it ... but yeah, at some point it should work and it should be used :) There's already a  pull request for it, hopefully fixing the error.

[2015-05-24 19:23] gforcada commented on #53
What about graphviz? See http://sphinx-doc.org/ext/graphviz.html

[2015-05-24 22:15] gforcada commented on #18
There you go: http://jenkins.plone.org/view/All/job/docs-age/lastSuccessfulBuild/artifact/report.txt/*view*/

Should we filter to only search for rst files?

[2015-05-25 05:35] svx commented on #18
Awesome ! Thanks !

As for only rst, I would say no, because we also keep images up to date, at least till developers start to include them into robot-framework. Hint :)

[2015-05-25 12:30] gforcada commented on #18
Then do you want another job that counts how many static images do we have? So as to create a count down of images that need to be robotized?

[2015-05-25 12:58] svx commented on #18
Would that be possible ? If so yes ! And I own you a lot of non-alcoholic cocktails !!

[2015-05-25 20:59] gforcada commented on #18
Well, is possible as long as there is a way to know, given an image if it's static or from robot, how do you know that? :)

And for non-alcoholic cocktails, sure, bring them ;)

[2015-05-27 08:28] loechel commented on #53
Well PlantUML seems to depend on Graphviz. A Graphviz Support would also be welcome, but it did not Support you on writing UML Graphs.

There seems to be a PlantUML Remote Service avaliable (http://plantuml.sourceforge.net/server.html; http://www.plantuml.com/plantuml/), so that we do not need to install PlantUML on the build server but might allow them to request the rendered image from that remo

[2015-05-27 08:40] svx commented on #53
I say we discus that over sake next week :)

[2015-06-11 08:02] jensens opened #55 "External documentation must respect versions from coredev/ release"
*This is a copy of issue plone/documentation#275 moved here because its a papyrus related issue*

**Story**

I have this PR #192 open and in there we figured out to better include ``buildout.coredev`` documentation instead of repeating ourselves here.

So I tried to add the buildout.coredev/docs to ``externals.txt`` like this:

``https://github.com/plone/buildout.coredev.git,source/documentation/d

[2015-06-11 08:31] jensens commented on #55
Goal in short:
- http://docs.plone.org online plone-documentation must follow always the *latest*.
- additional following the *release* would be great, but not mandatory

I looked a bit further into the issue.

Current:
- papyrus has branches for 3/4/5 for the core docs
- external added docs from https://github.com/plone/papyrus/blob/master/externals.txt are always fetched from the current default

[2015-06-11 10:19] svx commented on #55
Hm,

I guess I do not understand what you mean,

- docs.plone.org shows always the documentation for the latest version of plone.
- papyrus has different branches and in this branches is also defined which version of the documentation repo is fetched, so far this works and if the branch of papyrus for plone 5 is fetching the docs branch for plone 5.
Can you please explain where this is wrong ? Did

[2015-06-11 10:23] jensens commented on #55
look, i.e. plone.app.theming is always at master.

[2015-06-11 10:25] jensens commented on #55
btw, i have a simple solution to use the externals from the matching coredev with mr.developer and a simple generated script. this would simplify the whole a lot too.

[2015-06-11 10:30] polyester commented on #55
I think there's a misunderstanding at play here. But let's see your solution, @jensens and see what it does.

I have a feeling it may have to be tweaked, since there is a specific reasoning behind which packages go where in the docs, and which ones we currently not include at all. But it's much easier to talk if you make a papyrus feature branch, so we can all see what it actually does.

Because n

[2015-06-11 10:48] jensens commented on #55
yes, more at semantics. i'll prepare a solution on a branch. stay tuned.

just another try to explain:
plone.app.theming uses 1.1.x branch for 4.3.x - ans so the docs there targeting 4.3.x, right?
https://github.com/plone/buildout.coredev/blob/4.3/sources.cfg#L112

but it targets master for 5.0
https://github.com/plone/buildout.coredev/blob/5.0/sources.cfg#L76

papyrus external.txt does not take b

[2015-06-11 10:55] polyester commented on #55
Yes, that makes it clearer. It was always meant for externals.txt to have versions (it has some different lines for instance for 4 and 5), we just never fixed the versions proper. So yes, they should be pinned.

Only, we fetch more packages than just mentioned in coredev, we also fetch for some add-ons. And, we *really* don't want full packages, just the /docs dir (and readme.rst + changes.rst), s

[2015-06-11 11:01] svx commented on #55
Ah now I get it !

yes that is right, currently papyrus does not take care about that, yet.

I would like to see that fixed, but there is one important step to keep in mind, and this is partly the reason why we not dealt with that so far.

We have to make sure that all the docs of the different version are ok, meaning we have proper docs for all versions of the includes, following our best practic

[2015-06-11 13:21] jensens commented on #55
Here we go https://github.com/plone/papyrus/tree/jensens-external-refactoring
This is the rough idea including sparsing the git repos (which tooks the most time btw.)
Also make html works as it seems, but i did not check translations and all the other shiny but complex stuff.

[2015-06-11 13:55] jensens commented on #55
some remarks:
- also sparse git fetches always the full history as i can read from the confusing documentation
- sparse just shows a modified view on the repository
- ``--depth`` seems to have its problems with branches, at least it failed when i tried (even after updating to latest stable git release).

[2015-06-11 23:19] svx commented on #55
@jensens please remember when we decided to try out and use git-sparse [Munich sprint year] there was not the shiny new version of mr.developer, so we had to go with something what was already there.

We knew from the beginning that is was not really perfect had had/has some issues, for our use case.

So yes, it is not perfect but well for the beginning it was better than other possible solutions.

[2015-06-11 23:27] svx commented on #55
btw: maybe you already saw it:

https://github.com/plone/papyrus/issues/54

As you can see we already started to lock into the new version of mr.developer .....

just saying :)

[2015-06-12 07:20] jensens commented on #55
I know. The problem here is not ``mr.developer``, it is that git clone --depth is quite complex and its behavior is not all the time what you would expect at the first place.

[2015-06-12 07:26] jensens commented on #55
@svx Also dont take it as a critism, the idea to collect all the docs from the different sources is great and improves the docs a lot!

I just want to offer a solution for the problem described above using our usal tool chain of buildout and mr.developer plus some additional declarative generated scripts and so reducing the overhead of/ time used by the documentation team by pointing to sources/br

[2015-06-12 14:08] svx commented on #55
It definitely looks really nice and interesting that for sure, I had no time to play with it yet, I will do that next week, maybe we could use to start your solution on Plone 5 documentation, I will have a look after Tokyo, meaning in the next 6 days.

[2015-06-15 11:04] jensens commented on #55
take your time.

Sure, we can start using it for Plone 5.

But with this approach we even dont need to have papyrus branches for different versions of the docs anymore, we can just need for each docs-version a different ``checkouts-documentation.cfg``, like
``checkouts-documentation-3.3.cfg``, ``checkouts-documentation-4.3.cfg``, ``checkouts-documentation-5.0.cfg`` and so on. In its details this n

[2015-06-16 22:26] gforcada opened #56 "sparse vs --depth?"
I was reading issue #55 and this sparse thingie came across.

As I [understand sparse](http://briancoyner.github.io/blog/2013/06/05/git-sparse-checkout) is a way to only get a folder/subtree of a git repository right? If the only reason to do so is for bandwidth, why not use [--depth 1](http://stackoverflow.com/questions/6941889/is-git-clone-depth-1-shallow-clone-more-useful-than-it-makes-out)?

N

[2015-06-17 05:15] polyester commented on #56
No, the reason is **not** bandwidth. The reason is we don't want code in a docs repository. It messes up the translation mechanism, it is confusing to non-programmers and is not necessary.

We're already using --depth 1 also. That is for bandwidth/diskspace saving, but not a replacement for sparse.

[2015-06-17 05:15] #56 closed

[2015-06-17 07:10] gforcada commented on #56
Cool, nice setup then.

[2015-06-18 15:36] svx commented on #55
@jensens can you write some docs how 'assemble-docs.tpl.genshi' works ?

[2015-07-08 08:52] svx opened #57 "Update conf.py for all branches"
Update con.py with latest stuff I just learned ....

[2015-07-08 11:05] svx opened #58 "Use same docs structure and filenames for all papyrus branches"
Currently some file names in for example /docs are different between the master and the 5.0 branch, that needs to be fixed

[2015-07-08 11:12] svx commented on #55
@jensens Would you mind to document or explain this part too:

[assembly-information]
# first is order for symlinking,
# divided by dash,
# second is either
# the package path to documentation in mr.developers sources-dir
# or a COMMAND (executed before the sym-linking)
1-COMMAND                           = mkdir -p ${buildout:docs-dir}
1-documentation                     = documentation
2-bobtemp

[2015-07-08 11:34] svx commented on #57
- html_last_updated_fmt
- link-check options
- title
- short_title
- html_scaled_image_link
- Options for Apple Help output
- Options for epub output
- Options for LaTeX output
- Options for text output

[2015-07-08 13:33] svx commented on #48
Just tested more, and yes, it is nice, bit it will not work with latex/pdf, so this is a no go

[2015-07-08 13:33] #48 closed

[2015-07-08 13:36] svx commented on #53
Would be 'just'garphviz enough, seems like training docs are using that and it works good ?

[2015-07-08 13:36] svx commented on #34
how much time and effort we want to invest into Plone 3 docs ?

[2015-07-08 13:38] svx commented on #54
same as #55 so I will close this one here

[2015-07-08 13:38] #54 closed

[2015-07-08 13:42] polyester commented on #34
zero.

[2015-07-08 13:43] svx commented on #34
ok assuming that, I will close all open issues for the 3er branch then ?

[2015-07-08 14:00] polyester commented on #34
yep, unless it something catastrophic, like "we can't deploy them at all". Even then, I would consider them 'frozen' for now.  Only things may get added to them, for instance when we find stuff we want to get rid of in the 4/5 branches because it's old.
But we're not upgrading, maintaining, improving the 3.x docs anymore, they are reference material 'as-is'.

[2015-07-08 21:17] loechel commented on #53
Well graphviz did not have UML diagramms in it commen set, but having graphviz for diagramms would be a good enhancement in the meanwile.
We could discuss the more elaburated plantuml on one of the next sprints.

[2015-07-13 06:03] #34 closed

[2015-07-13 12:16] svx opened #59 "Embedding videos"
We have now some short videos with howtos and show cases, do we want to embed them into the docs, for example with

https://pypi.python.org/pypi/sphinxcontrib.youtube

or

https://pypi.python.org/pypi/sphinxcontrib-embedly

or do we think linking to them is enough ?

[2015-07-17 07:57] svx commented on #58
done!

[2015-07-17 07:57] #58 closed

[2015-07-17 09:11] svx commented on #59
tested and not working, I just added some video links for now and that seems to be better

[2015-07-17 09:11] #59 closed

[2015-07-21 13:24] svx opened #61 "intersphinx add-on"
evaluate add-on to include for example docs from training.plone/org5 better into docs of plone 5

[2015-08-04 09:24] svx opened #62 "Update docs, about docset building"
We have now a new way to build docsets

[2015-08-13 12:19] svx opened #63 "Update Plone5 branch readme"
The readme still differs and install part is already under /docs

[2015-08-14 13:41] svx opened #64 "Add disqus ?"
We are looking for some time know to add something for user feedback, there is also now:

https://sphinxcontrib-disqus.readthedocs.org/en/latest/index.html

The only down site that I can see is that this could get possible out of hand, the idea is to get feedback not have discussions under/in the docs.

Maybe it is worth to try it out and maybe there is a way to set it up/ use it in way that will

[2015-08-14 14:03] polyester commented on #64
I think it will be more confusing than helpful. A big footer pointing people to https://community.plone.org/c/documentation will concentrate the feedback where more people see it.

[2015-08-14 14:09] svx commented on #64
Not sure, there is also the still the idea to have something like a 'floating button' on the site that people can click and send 'feedback' straight away, personally I prefer that one, have this in the footer is IMHO less cool, because quite often ppl do not read to the end.

Also we should keep in mind not to ask to may steps for that, click a button, write send will work, I guess every extra ste

[2015-08-14 14:37] polyester commented on #64
yeah, button is also great. I just don't want discussions to be even more spread out.

[2015-08-14 14:38] svx commented on #64
well that is why I wrote:

_The only down site that I can see is that this could get possible out of hand, the idea is to get feedback not have discussions under/in the docs._

_Maybe it is worth to try it out and maybe there is a way to set it up/ use it in way that will work for us._

[2015-09-06 18:06] polyester commented on #55
After a hand-merge and some extra documentation, this is now merged with https://github.com/plone/papyrus/commit/85431194f301caa9f6154588461ebd375e114f6f

[2015-09-06 18:06] #55 closed

[2015-09-20 10:11] polyester opened #66 "switch git protocol to https"
As github is now recommending to use https protocol, we should switch to that, as it avoids people having to set up ssh keys which might pose a hurdle to newcomers.

https://help.github.com/articles/set-up-git/

they then recommend setting up password caching so you don't have to re-type your password that often.
https://help.github.com/articles/caching-your-github-password-in-git/

[2015-09-21 20:28] jensens opened #67 "include plone.app.event"
see plone/plone.app.event#180:
cite from comment by @pbauer

here are the things you need to know to include them in docs.plone.org:
- the docs are here: https://github.com/plone/plone.app.event/tree/master/docs
- on docs.plone.org they should be after http://docs.plone.org/develop/index.html#plone-app-contentlisting
- include them for 4 and 5

[2015-09-21 20:30] jensens commented on #66
+1

[2015-09-22 12:37] #66 closed, assigned to nobody

[2015-09-22 12:51] polyester commented on #67
Needs review first. Plone.app.event uses a whole slew of sphinx extensions:
extensions = [
    'sphinx.ext.doctest',
    'sphinx.ext.coverage',
    'sphinx.ext.autodoc',
    'sphinx.ext.viewcode',
    'sphinx.ext.autosummary',
]

some of which pull in the entire codebase, and thereby making the translation and other setup more difficult.

Whether things like autodoc are really helpful is matter fo

[2015-09-23 10:18] polyester commented on #67
update: the autodoc does not work, only on one(!) page, namely https://ploneappevent.readthedocs.org/en/latest/api/browser/event_view.html

all the other ones in https://ploneappevent.readthedocs.org/en/latest/api/ are broken. So I would suggest disabling the sphinx-extensions and manually documenting the api (however terse)

[2015-09-23 11:00] thet commented on #67
I'll give that a try. @polyester , did you build the docs in plone.app.event or with papyrus? if yes, how do i do that?

[2015-09-23 11:05] polyester commented on #67
I haven't built the docs yet in papyrus, because of the sphinx-extension issues mentioned above. I did try to run the included buildout of plone.app.event, but that errored out. (the usual fight between various setuptools/zc.buildout version... Could probably fix that locally but time-stretched)

I just checked the docs on readthedocs, and noticed that they are failing there for the autodoc stuff.

[2015-10-01 18:06] polyester opened #70 "sphinxcontrib-robotframework does not generate 'hard' errors"
hi @datakurre , would it be possible to have sphinxcontrib-robotframework generate hard errors (meaning sphinx exits with error code) if the screenshot tests fail?

tried sphinxcontrib_robotframework_quiet = False, but sphinx will still churn along when there are failures in the tests.
Some setting like "sphinxcontrib_robotframework_nitpicky = True" would be optimal.

On the plus side: I now have

[2015-10-01 19:36] datakurre commented on #70
@polyester It also doesn't generate any usual test logs. My reasoning was it would not be necessary, because it's possible to run the actual robot framework test runner against the docs to get "hard" errors and test logs: `bin/pybot path_to_tested_rst_file` (or `bin/robot ...` if `bin/robot-server` is running).

Does that make sense? Would that be enough? The good part here is that you can run it

[2015-10-01 19:37] datakurre commented on #70
https://github.com/plone/papyrus/blob/5.0/docs/robots.rst#how-to-work-on-a-single-document

[2015-10-01 22:06] polyester commented on #70
Maybe I should better state the purpose: I want Travis to consider the build broken when one of the robotscreenshot-tests fails. I can't put Sphinx itself into -W mode, since indeed it generates a lot of warnings that are not really vital, but if one of the tests run by robotframework says "Fail" I want travis to consider the build broken, to give an indication that the last push has messed up the

[2015-10-02 05:18] datakurre commented on #70
@polyester Ok. I've used to run pybot at Travis at first and then Sphinx when the tests pass. Probably, because you don't really need Travis generated Sphinx docs, we could only run pybot (test mode) at Travis :)

[2015-10-02 05:18] datakurre commented on #70
I'll try to make a pull for this for docs repo.

[2015-10-02 05:51] svx commented on #70
In a later state you do want to be able to run to run sphinx on travis in nitpicky -> http://sphinx-doc.org/config.html#confval-nitpicky together with -W and spell check to catch as many errors as possible.

I do that now on a couple of projects and it works really well :)

[2015-10-20 08:39] svx opened #74 "Support Sphinx rst and markdown in same build"
You can now suport rst and markdown in the same sphinx build/config, this is really handy since parts of our js docs are still in markdown.

You can use Markdown and reStructuredText in the same Sphinx project.

This is nice because:
- you do need to convert via pandoc and fix last rst issues from hand
- you can include native without any changes

Setup:

[code]

and in your conf.py

[code]

[2015-10-28 17:58] mauritsvanrees opened #75 "Include page that we can link to from CONTRIBUTING.rst in packages"
See https://github.com/plone/buildout.coredev/pull/135
and more discussion here: https://github.com/plone/Products.CMFPlone/issues/1179
I am just opening this ticket to see if the docs team foresees any problems with this, or knows a better spot to put this page.

[2015-10-28 18:21] polyester commented on #75
docs/guidelines.rst on Products.CMFPlone seems like  a perfectly valid place. It will then also automagically appear at docs.plone.org and thus be indexed by search engines

[2015-10-30 00:51] mauritsvanrees commented on #75
I have merged the coredev request so there now is a page.
That was about an hour ago. I don't see the page here yet:
http://docs.plone.org/develop/coredev/docs/guidelines.html
I am not up to date on how this works. Is this updated automatically once a day? A manual job? Depending on some Jenkins test?
No hurry, just wondering. :-)

[2015-10-30 08:12] polyester commented on #75
artisanal, handcrafted, locally sourced & totally slow-cooked. I'll do another update this weekend.

[2015-10-30 09:53] mauritsvanrees commented on #75
Excellent.

[2015-11-03 20:11] mauritsvanrees commented on #75
I see it is up. Thanks!

[2015-11-03 20:11] #75 closed, assigned to nobody

[2015-11-10 07:32] svx opened #76 "WIP: check possible add-ons"
Just putting this here for review, this is not saying that we use hem, but maybe some of them are interesting or we get some ideas about possible enhancements:
- https://pypi.python.org/pypi/sphinxserve/0.7.4
- https://github.com/Pylons/pylons_sphinx_latesturl
- https://pypi.python.org/pypi/sphinxcontrib-github/0.1.3
- https://pypi.python.org/pypi/buildthedocs/1.0.3
- https://pypi.python.org/pypi/

[2015-11-25 08:50] svx opened #78 "setup for for Plone API inclusion into docs.plone.org"
Since Plone 5 Plone API is part of the core and so the docs about Plone API moved from /external to /develop/plone.api/ that is great and how it was planned, yes !

Only the configuration is not ideal, as a user I expect that if I browse to http://docs.plone.org/develop/plone.api/ that I see the docs, like how if I browse to http://docs.plone.org/manage/deploying/ but instead I get a 404 on http:/

[2015-12-13 10:36] svx opened #83 "Make sure to follow relase process"
The last release of the documentation to docs.plone.org [12 of December 2015]  is not finished.

In preparation and during a release please make sure to follow all steps: https://github.com/plone/papyrus/blob/5.0/docs/make_release.rst
## What is missing:
- stats about typos and links
- changelog: https://github.com/plone/documentation/issues/381

As mentioned in https://github.com/plone/papyrus/bl

[2015-12-13 10:45] svx opened #84 "Dash/Zeal builds: remove version switcher"
Currently the docsets builds are including the version switcher.
The switcher is not working in Dash/Zeal and for that it is confusing having it there and also just taking space.
## Solution

Use a extra .conf for Dash/Zeal builds and adjust the main makefile [make dash] to use that .conf file for this builds.

[2015-12-13 13:14] svx opened #85 "Update Makefile"
New options got into the Makefile, like:
- screenshots
- screenshots-phantomjs
- possible more

But they do not made it into the help section nor the .PHONY section of the Makefile, this should be updated.

[2015-12-13 14:41] svx opened #86 "Add 'test latest changes script'"
Add a test script to papyrus [Makefile] which runs spell and link check on latest changes, got committed to the docs.

The idea is to run check not on the 'whole docs' but on the parts got changed or added.
## This will:
- speed up testing
- push quality, because now we actually run tests more often, meaning test will fail more often, meaning we will fix stuff.
## To figure out:
- what about robot

[2015-12-14 10:34] polyester commented on #83
@svx, how were the stats for "number of typos" calculated? I cannot find info on that.

When I do cat build/spell/output.txt | awk '{print $2}' | sed s/(// | sed s/).*// | sort | uniq | wc -l

I get 2238 for Plone4, and 1228 for Plone5, which is nowhere near the numbers reported by you. Trying to find out if you used another metric.

[2015-12-14 10:53] polyester commented on #85
should we also use http://clarkgrubb.com/makefile-style-guide#phony-targets ? (that will mean rewriting the whole .PHONY section into individual ones just before the make target)

[2015-12-14 15:22] svx opened #87 "assemble-docs.sh needs better checks, here for symlinks"
Running buildout more than once, for example because of buildout is failing because of pypi problems, give this message [see below]

[code]

So the check for [here] symlinks should be improved for example if there is already a symlink delete first, or move on with out giving an error or something, i did not checked the script yet.

Also the script does not have a proper exit on error or report use

[2015-12-14 15:25] svx opened #88 "buildout is failing [Plone 5 branch]"
bin/buildout
....
....
....

[code]

[2015-12-14 15:38] svx commented on #88
seems it was buildout - pypi bla.....

buildout ... such a lovely tool :) ....

[2015-12-14 15:38] #88 closed, assigned to nobody

[2015-12-14 16:01] svx commented on #83
Well this has do to with the changes which got introduced with the new way papyrus works, I am talking about https://github.com/plone/papyrus/blob/5.0/assemble-docs.tpl.genshi.

This fetches now all the sources, but since a couple of them are not following [yet] the best practices about repo setups, like /docs and how to handle the readme, you are getting lots of 'false positives' for example:

[c

[2015-12-14 16:30] polyester commented on #83
That does not explain the discrepancy in the Plone 4 stats to me, where there are almost double the amount of errors than in Plone 5, and somehow the number has grown ten times from May 2015 to current.

And yes, of course a lot are false positives, and they should be added to known-word-list, this procedure just makes it easier to find them.

[code]

gives a good list to work from, separating out

[2015-12-14 20:20] svx commented on #83
@polyester I did not checked Plone 4 docs.

And no, I don't do that that by hand, I just did that now for checking and to give you an idea about the nr. of real typos.
If you really thing I count them every time from hand, you do not know me at all ....

[2015-12-14 21:03] polyester commented on #83
I didn't think you'd count them by hand, just trying to hunt down where these big differences come from. Could be diffs in OS or version of hunspell/aspell/whatever wordlists used. It would just be useful to get more exact metrics down.

I'll add a big bunch of words to the known wordlist a.s.a.p.

[2015-12-14 21:06] polyester commented on #83
as a side note: should we be strict on using en_us or is en_uk also alright? A lot of the false positives are on "organization" (US spelling) vs. "organisation" (UK spelling), as example.

I'm neutral on the issue, anyway.

same goes for "color" and "colour", etc.

[2015-12-15 10:22] svx commented on #83
I just checked Plone 4 docs, this has to do  with the same issues like on the Plone 5 branch, including readme and changelog, so yes, names of user will give errors.

For the rest it is not that bad around 70 real typos and the rest are 'false positive'

[2016-01-26 09:54] svx opened #90 "Update 'well known names'"
see https://github.com/plone/documentation/issues/475

[2016-01-26 09:57] svx commented on #64
closing this, we will go for another solution

[2016-01-26 09:57] #64 closed, assigned to nobody

[2016-01-26 16:16] svx commented on #62
done !

[2016-01-26 16:16] #62 closed

[2016-01-26 17:29] svx commented on #86
Possible Solution, really dirty WIP

[code]

Gives us the list of changed files in the latest commit, now we have to run checks against these files, and done !

[2016-01-26 17:38] svx opened #92 "Update version"
Update sphinx and pygments to latest versions

[2016-02-08 09:54] svx opened #93 "buildout and versions"
Currently kind of broken ...
I had to remove version pins for robot related stuff to make it work with the latest version of Firefox

[2016-02-16 11:34] svx commented on #86
another option could be:

[code]

[2016-02-23 14:08] svx commented on #86
possible solution:

## Use aspell

### create a script with the following scenario [on ci or local]:
- check if we have all dependencies [aspell]
- rm old `aspell.plone.pws`
- convert `spelling_wordlist.txt` to `aspell.plone.pws` by doing this we always have the latest, which is great.

[code]
- run spell check: `cat askforhelp.rst | aspell list --personal={pwd}.aspell.plone.pws | sort -u`

If we

[2016-02-23 14:18] svx commented on #86
Another question would be do we still want to do that in papyrus, personally I think we remove that out of papyrus, papyrus is for building the docs and testing them 'as a whole' before deploy.

So I do not want to fill the repo with extra tests, I also do not want to put them into the documentation repo, because it is for docs only.

Since they are tests, I say we should put them into mr.docs, si

[2016-02-24 11:24] svx commented on #86
There we go, a proof of concept, the script needs some more checks and beauty touches, like error and log reporting, but it works so far.

https://youtu.be/dguuwzCSjaM

## What is does:

It takes the last commit to a repository and will check all .rst files in /docs for typos, other files like .txt are ignored.

### Todo:
- add logs
- add better error reporting, split it into list of file names, i

[2016-02-24 13:46] svx opened #94 "Add sphinx-prompt extension"
https://pypi.python.org/pypi/sphinx-prompt/1.0.0

This will make the output for bash examples and so on a bit better

[2016-03-07 11:56] svx commented on #92
@polyester

As you can see in: https://github.com/plone/papyrus/commit/0b41dc6ff844283f6abb3da9f15a3b03949db655

I am busy with updating the versions, by doing this and testing I came this across:

![robot-screen-docs-fail](https://cloud.githubusercontent.com/assets/358860/13568763/cc249540-e463-11e5-8756-9a43e20c733b.png)

It seems besides that, robot screen shots are working with the new version

[2016-03-07 12:33] polyester commented on #92
I'll check a bit later. It looks like it has nothing to do with either Sphinx or pygments, nor RobotFramework for that matter. It's probably a side-effect of using a later version of Plone, where the CSS is slightly changed and thus the selector needs to be adapted.

[2016-03-07 12:40] svx commented on #93
will be fixed with: #92

[2016-03-07 15:41] svx commented on #94
tested add-on and closing this now, the extra value compared to

[code]

or

[code]

is almost not there, it 'just' changes the color of the background.

So we only would add an extra layer of complexity.

-1 for implementing

[2016-03-07 15:41] #94 closed, assigned to nobody

[2016-03-07 23:17] polyester commented on #92
It will need a slight rewrite of the robot-test. This is actually **good**, by the way: it is Plone behavior that changed between 5.0 and 5.0.2, so it _should_ break. Enabling content rules now requires an explicit click which it didn't before, which should also be reflected in the docs.
I'll try to get them fixed tomorrow.

[2016-03-08 14:25] svx opened #95 "Evaluate: sphinx.ext.intersphinx"
Link: http://www.sphinx-doc.org/en/stable/ext/extlinks.html

Why: this would make it less work, to add links, to sites we link to often

[2016-03-10 13:11] svx commented on #86
## More progress:

I found a lovely solution how to do that with sphinx, meaning we can skip the 'whole dirty' aspell workaround, plus we have now also link-checks out of the box.

What we have to solve now, is the behaviour of the test, if we commit more than one file. For example we have a commit including changes in:
- index.rst
- about/styleguide

We have to pass every single file name now to

[2016-03-23 10:04] svx commented on #92
@polyester since https://github.com/plone/documentation/issues/560 is fixed, yeah, I guess I can open a PR for https://github.com/plone/papyrus/commit/0b41dc6ff844283f6abb3da9f15a3b03949db655 ?

[2016-03-23 10:06] polyester commented on #92
yes

[2016-03-23 10:29] svx opened #97 "Proposal: switch to pip install zc.buildout"
I want to propose that we get rid of the following:

[code]

 and switch to:

[code]

I just tested it and it works !

Improvement:
- less files
- less build steps
- less complex
- cleaner repo

[2016-03-23 10:38] svx commented on #92
done and fixed with https://github.com/plone/papyrus/commit/85ad74d0832239e59a56f9450fd9e3eac295f083

[2016-03-23 10:38] #92 closed, assigned to polyester

[2016-03-23 10:39] svx commented on #93
done and fixed with #92

[2016-03-23 10:39] #93 closed, assigned to nobody

[2016-03-23 10:41] svx commented on #53
@loechel as in checking the current docs, we never needed UML diagrams, would you mind if I close this issue ? Feel free to re-open if you have a need/use case ?

[2016-03-29 15:51] svx commented on #84
a own conf is not working the dash build add-on only works with the default conf, back to the drawing table ...

[2016-03-29 15:52] svx commented on #95
duplicate of #61  - closing this here

[2016-03-29 15:52] #95 closed, assigned to nobody

[2016-03-30 07:35] svx commented on #84
Fixed with https://github.com/plone/papyrus/commit/985fed195330688eeeca7991f7d4fab14ee93c98

[2016-03-30 07:35] #84 closed, assigned to nobody

[2016-03-30 14:08] svx opened #99 "Think about possible help to fix search"
We should think about asking people with more experience to help us solving our issue with search

[2016-03-30 14:10] svx commented on #83
closing this

[2016-03-30 14:10] #83 closed, assigned to polyester

[2016-03-30 15:40] gforcada commented on #99
let solr/elasticsearch crawl the website and use that? :-)

[2016-04-01 08:37] svx opened #100 "Build failing because of failing robots"
@polyester would you mind to check ?

![build-error](https://cloud.githubusercontent.com/assets/358860/14201980/9a4a19dc-f7f5-11e5-8f80-835f5c481fcb.png)

[2016-04-01 22:23] svx commented on #100
works now, closing this

[2016-04-01 22:23] #100 closed, assigned to polyester

[2016-05-15 14:06] svx commented on #99
https://github.com/rtfd/readthedocs.org/tree/master/readthedocs/search

[2016-05-15 14:47] svx opened #101 "Find a replacement for freshdesk [widget]"
After testing for some time ....

We should try to replace it, with something else, freshdesk keeps changing what is included into their plans all the time with a result that functions we used in the beginning are not working anymore.
- mail notify
- push ticket to GitHub

[2016-06-01 20:07] tkimnguyen opened #102 "error building pyenchant 1.6.6 on OS X 10.11.5"
I was following the instructions at https://github.com/plone/papyrus/blob/5.0/docs/install.rst and got this when I ran bin/buildout:

[code]

I take it this means I should install from http://pythonhosted.org/pyenchant/download.html ? Ah no it seems "Mac OSX users can also follow the instructions above to build from source, after installing the underlying enchant library via e.g. macports or homeb

[2016-06-01 20:14] tkimnguyen commented on #102
Yes, "brew install enchant" was all that was needed. Is it worth changing https://github.com/plone/papyrus/blob/5.0/docs/install.rst to reflect this as a requirement for OS X?

[2016-06-06 06:21] svx opened #103 "[Branch: 5.1] Update buildout to work with 5.1"
We have now a 5.1 branch, but to make this work we have to update the buildout to pull in and build 5.1

[2016-07-06 16:10] polyester opened #104 "Proposal: don't CI with robotscreenshots anymore, and switch to Chromium Driver"
RobotFrameWork seems to break with **every** friggin' Firefox update, and I've absolutely had it.

proposal:
- do not build robot-screenshots on Travis anymore, just use "make html". That is a lot faster too.
- for deploying docs, use Google Chrome _(Install the `ChromeDriver` from https://sites.google.com/a/chromium.org/chromedriver/,   ChromeDriver needs to be accessible from your path.)_
- that

[2016-07-06 16:12] polyester commented on #97
now tested about a 100 times. Shall we just do it?

[2016-07-06 17:57] svx commented on #97
I will do it during the next days

[2016-07-06 18:08] svx commented on #104
+1 !

Please do not forget to update the docs in your Pull Request !

Funny enough I am telling this since a long time already :)

Personally I got rid of using Firefox some time ago, since then I mostly use phantomjs, which is good enough for me, not sure if its good enough for docs.plone.org, last time I tested it for the docs was during Plog2016,because then we had exactly the same problem.

Sp

[2016-07-06 18:28] polyester commented on #104
Phantomjs has issues (still) with making screenshots of overlays/pop-ups. Which is a shame, cause otherwise it works reasonably well. The screenshots from Chrome look very nice, though, and behave as they should.

Yes, I will include docs.

[2016-07-21 16:59] svx opened #109 "assemble-docs.tpl.genshi needs fixes !"
# The script needs improvements
## Code:

If I run checks against it, I get lots of POSIX errors/warnings

Use a ( subshell ) to avoid having to cd back

further missing:
- proper error function
- use of exit codes
- #87
## Blueprint

We really only want to have the docs directory we do not want Readmes and Changelog, every docs dir should contain a index.rst.
## How to solve this
1. Fix script [s

[2016-07-23 10:10] #97 closed, assigned to svx

[2016-08-17 16:33] svx opened #110 "Not able to build screen-shots - chrome"
Running:

[code]

is failing and giving errors.

" Interesting " enough it seems that it has to do with the docs about plone.app.robotframework

![pap-fail1](https://cloud.githubusercontent.com/assets/358860/17744572/96cf8dee-64a8-11e6-93e1-9f42feba2494.png)
![pap-fail2](https://cloud.githubusercontent.com/assets/358860/17744571/96c9178e-64a8-11e6-9526-d7862c31f5f0.png)

@polyester would you mind

[2016-08-17 17:19] polyester commented on #110
oh damn. That's the 'supposed to break' section of the plone.app.robotframework docs, actually more tests than docs. I thought I had excluded them all from being run by adding
    Force Tags  wip-not_in_docs
, but will look later/tomorrow if their docs were updated and the tag not applied to all codeblocks in happy.rst.

If in a pinch for time: remove happy.rst, run make screenshots-chrome, then g

[2016-08-17 17:24] svx commented on #110
I will wait, hopefully this will be resolved soon, tonight/tomorrow is completely fine :) If will take longer please, let me know so that I can think about a work around :)

[2016-08-17 17:27] polyester commented on #110
probably the best is to say that for "make screenshots-chrome (and -firefox and -friends" the whole `*/plone.app.robotframework/*` should be an exclude pattern when calling sphinx. That makes more sense than tagging all tests in their docs with special tags, which is brittle if their docs are updated.

[2016-08-17 17:59] svx commented on #110
It would be cool, if we would be able to set sich stuff in the conf.py, for example like this:

[code]

with that, you could use

[code]

But since we are using pybot I have no clue how to integrate that .

[2016-08-17 20:00] polyester commented on #110
solved. Mysterious spacing issue in happy.rst made it so that the tags weren't read. Pushed to plone.app.robotframework so pulling that to newest should fix.

Works here now, will leave issue open until works on other people's machines as well.

And yes, more flexible exclusion would be nice, but it seems pybot does not have many options for that.

[2016-08-18 08:42] svx commented on #110
OK, working here on Ubuntu 14, 16 and Fedora 24.

Is there maybe a way that we could use a custom sphinx builder to call pybot ?

On the other hand I am really not sure how much time it is worth to spend on fixing papyrus 1, I would prefer to write that down as a note and spend more time on actually developing papyrus 2, so that we can get rid of version 1 at some point and move to a improved one.

[2016-08-24 06:57] svx opened #111 "Rethink/Document/Explain Plone version checkouts of papyrus"
Currently we use:

[code]

in documentation-checkouts.

This kind of works, but IMHO there may be some drawbacks ?

For example I would like to test if the docs are building with a pending release, like

http://dist.plone.org/release/5.0.6-pending/versions.cfg

How to resolve that ? Looking at: https://github.com/plone/buildout.coredev/branches it is not clear which one to use, I guess https://git

[2016-08-24 11:43] gforcada commented on #111
The branch should be the correct one indeed... we may ask @plone/release-team to update the release workflow to add a tag on buildout.coredev? Opinions?

[2016-08-24 12:52] polyester commented on #111
as far as I know:
- to test a specific release (for screenshots for instance), the version of plone in https://github.com/plone/papyrus/blob/5.0/buildout.cfg#L4 has to be changed from latest to the  one you're testing. That's the one we use the eggs from, and where the Plone that gets used for generating screenshots is built from. So if you want to check against a new version, that's where to chan

[2016-08-24 13:07] svx commented on #111
OK but if that is the way to go then the comment

[code]

should be changed, because currently this is misleading, I suspect this is needed for robot framework 'only'.

Second that still leaves me with the line

[code]

in documentation-checkouts, which I assume would in **this** certain scenario Ok, but if I would like to test another version, like lets say Plone 6 this should be changed to.
I gu

[2016-08-24 13:19] svx commented on #111
Looking further, we also need to make sure that these versions are correct, according to the version we would like to test:

[code]

[2016-08-24 13:37] esteele commented on #111
Tagging buildout.coredev kind of works. The versions.cfg will be correct, but anything listed in checkouts.cfg in that tag will pull down the most current version of whatever branch the package is on, not the released version. Easy enough to work around, but I can see it causing some confusion.

[2016-08-24 13:48] polyester commented on #111
another option could be to just maintain our own list. The whole

[code]

is actually just a convenient/lazy shortcut for "we do not want to replicate and update the locations of all the external packages where we pull docs from".

Since we are not pulling in _that_ many packages, we could just list them along with the others (documentation, buildout.coredev, ansible-playbook etc) further down the

[2016-08-24 13:58] svx commented on #111
Actually I do not care how many packages I am pulling, pulling them does not mean I use them  :)

Just a remark:

IMHO if it is possible I would like to have always the branch of the package according to the version of Plone, otherwise the whole setup is overrated ? This was the first reason of the current setup, to make sure to have the right version of the egg and thus of the docs for the versio

[2016-08-24 14:32] esteele commented on #111
Ah, yeah. That's the other issue with tagging buildout.coredev. We keep a lot of the source branches the same across different versions of Plone because syncing bugfixes across branches of so many packages gets completely unwieldy. For instance 5.0.x and 5.1 may be using the master of plone.dexterity, so when I tag 5.0.6, its sources point to master. The next week, someone adds a breaking change f

[2016-08-24 21:38] gforcada commented on #111
To get the right code one can use sources.cfg to know the git URL of a given package and then use versions.cfg of buildout.coredev tag to know which tag on the repository has to fetch, that will be 100% accurate I think...

[2016-08-25 09:43] svx commented on #99
Just came across: http://www.blevesearch.com/

would that be an idea ? Looks doable :)

[2016-08-25 10:14] svx commented on #99
Ok I did a test, implementing a base search, without theming of the search site nad tweaking the results

![dpo-search-bleve-sphinx](https://cloud.githubusercontent.com/assets/358860/17965552/7193405a-6abd-11e6-8e5d-d0a572ed26ca.png)

Searching with bleve is fast :)

[2016-09-25 09:36] svx commented on #99
OK we have an update, I got the docs successfully working with  Algolia [https://community.algolia.com/]

Here is a screen-shot
![screenshot from 2016-09-25 11-24-10](https://cloud.githubusercontent.com/assets/358860/18814450/22f98eee-8314-11e6-9cb9-6437e0ccad0c.png)

I did not style the search output, but we certainly could do that !

[2016-09-25 09:53] svx commented on #102
I am not sure, this also will mean we have to update the whole installation docs, only adding 'brew install' will not work :)

Currently the docs are clearly saying:

I am not against it, if someone steps up and says, "Yeah I want to do that" awesome please go do so !!! :), but if so,  there should be clearly added, that people would need Homebrew, in order to follow the docs on a Mac. Not every d

[2016-09-25 09:54] svx commented on #47
closing this

[2016-09-25 09:54] #47 closed

[2016-09-25 09:55] svx commented on #74
@polyester do you know if we still have some parts written in md ?

[2016-09-25 09:55] svx commented on #70
What is the status here ? :)

[2016-09-25 09:56] svx commented on #44
@polyester Can I close this ?

[2016-09-25 09:56] svx commented on #61
Sadly intersphinx can't do that, closing this

[2016-09-25 09:56] #61 closed

[2016-09-25 09:58] svx commented on #90
Already done, for the rest this will be always WIP

[2016-09-25 09:58] #90 closed, assigned to nobody

[2016-09-25 10:11] datakurre commented on #70
Thanks for reminding! I've probably forgotten this. Nitpick mode requires hard error support. Not too hard. Just need to schedule this :)

[2016-09-25 12:33] datakurre commented on #70
@svx @polyester sphinxcontrib-robotframework >= 0.6.0 now generates both log files and hard errors with nitpicky-mode.

[2016-09-25 13:16] svx commented on #70
@datakurre wow ! Thanks a lot ! !!!!

[2016-09-25 13:46] #53 closed

[2016-09-25 13:48] svx commented on #110
closing this

[2016-09-25 13:48] #110 closed, assigned to polyester

[2016-09-26 14:56] svx commented on #111
We improved it a bit, but we are still not there, we still need at least some better docs, on how to for example make the 5.1 branch build/usable right now :)

@polyester added docs for minor versions which is already great, but now we need this also for _bigger_ versions :)

[2016-09-28 14:50] tkimnguyen commented on #102
I guess it's fine to have recorded the issue and the solution here.

[2016-09-28 14:50] #102 closed, assigned to nobody

[2016-10-01 15:45] svx opened #113 "Sphinx in picky mode: Fix linters"
https://github.com/svx/sphinxcontrib-osexample/issues/3

[2016-11-24 08:34] svx opened #115 "Fix 5.1 mess"
Currently the 5.1 branch is a huge mess :(

Which brings me to the point that we really should start focusing on the new build setup.

It seems to me that we forgot to cherry-pick lots of the latest commits back into the 5.1 branch, and this well ... is a result of our 'hackish horrible' build setup and branch chaos :)

I just tried to build the docs for 5.1 and I am getting 'fancy interesting' mi

[2016-11-24 08:54] svx opened #116 "How to find the right version if there is no release yet ?"
According to https://github.com/plone/papyrus/blob/5.0/checkouts-documentation.cfg, I should do the following:

[code]

This is great ! But what should I do if there is no release on dist.plone.org, yet ?

Second thing, is there a way to script that ? We have almost 2017 doing that still from hand is asks time and is a perfect source for errors :)

[2016-11-24 09:49] svx opened #117 "Upgrading Sphinx to 1.4.8 docs building is failing"
I am trying to update sphinx and this is failing with the following message:

[code]
Below the full output

[code]
buildout:

[code]

[2016-11-24 10:06] svx commented on #117
This can be fixed by removing the old warn method and use supress instead:

[code]

The question is do we need that warning at all ?

[2016-11-24 10:11] svx opened #118 "Screen-shot creation not working at all after upgrade"
Another upgrade issue:

If you upgrade the buildout to the latest versions of robot-framework and friends:

[code]

You are not able to do any screen-shots with phantom, firefox or chrome at all, you get this [firefox example]:

![pap-screen-error](https://cloud.githubusercontent.com/assets/358860/20594460/9ee615c6-b236-11e6-9f44-7a5cab77cf55.png)

[2016-11-24 11:16] svx commented on #118
Fixed, at least for phantomjs with re-installing phantomjs.

Great !

Still I do not like this, way tooo buggy and time consuming ....

[2016-11-24 11:22] svx opened #119 "Remove or upgrade robot-example"
The tests for the example usage of robots for screen-shots are failing. Because of this the whole build is failing:

![robot-scs-fail](https://cloud.githubusercontent.com/assets/358860/20596820/95ab7b40-b240-11e6-94ee-7b79d3f66dfc.png)

[2016-11-24 11:44] svx opened #120 "tag strategy"
What would be a good strategy for tagging releases of the docs, besides the plone version ?

I am looking for something what is easy and clear, the idea is to use that for weekly builds which are containerized.

[2016-11-24 17:23] svx commented on #119
It seems that:

[code]

is not working here

according to: https://github.com/plone/papyrus/blob/5.0/docs/robots.rst

But, well at least in this case it is currently not working.

[2016-11-24 17:29] svx commented on #44
Closing this now, we have now algolia, which you can use with a hotkey

[2016-11-24 17:29] #44 closed

[2016-11-24 17:30] svx commented on #7
2 years further, IMHO we will ot have translations here any soon, so can we close this ?

[2016-11-24 17:31] svx commented on #99
done !

[2016-11-24 17:31] #99 closed, assigned to polyester

[2016-11-24 17:32] svx commented on #74
@polyester ping !

[2016-11-24 17:33] svx commented on #76
closing this, currently we do not need more sphinx add-ons

[2016-11-24 17:33] #76 closed, assigned to nobody

[2016-11-24 17:35] svx commented on #101
We should check doorbell.io

[2016-11-24 17:36] svx commented on #70
OK this was forgotten, closing this now

[2016-11-24 17:36] #70 closed, assigned to nobody

[2016-11-25 04:19] polyester commented on #119
Looks like the failing build is still using p.a.robotframework 0.9.16, this breakage was fixed in https://github.com/plone/plone.app.robotframework/commit/63a5b8e72060919adf0b037c8c762fd8d546233a which should have gone into plone.app.robotframework 1.0.1. I'll try running with a higher version pin when I'm back at place with tolerable internet speed.

[2016-11-26 05:29] polyester commented on #74
not in the docs that we include. The md parts are in https://github.com/plone/mockup; they mix documentation with JS code.
It is somehow served up at http://plone.github.io/mockup/dev/, but I am unsure how, as https://github.com/plone/plone.github.io is probably a private repo (or at least I get a 404 when looking at that)

[2016-11-26 05:46] polyester commented on #118
I am beginning to agree. The whole robotframework-screenshot idea is cool, but it is

- very fragile, it breaks with almost any minor version upgrade, not of Plone but of the supporting tech
- too many moving parts (webdriver for the various browsers, selenium, robotframework and the various addons)
- requires a whole different skillset (meaning docs people have to fight with selenium/robot error

[2016-12-05 15:13] svx opened #121 "Add .coafile"
- Add .coafile so far for:

- [ ] docs testing
- [ ] link- checks

[2016-12-05 15:17] svx opened #122 "Update README"
Update README so that is matches version 1.5

[2016-12-05 15:18] svx opened #123 "Add .dockerignore"
Add .dockerignore

[2016-12-05 15:19] svx opened #124 "Add tranlsations howto to docs"
Add the part about translations and its Sphinx integration to the docs

[2016-12-05 15:21] svx opened #125 "Dash"
ToDo's for dash

- [x] remove from Makefile
- [x] remove from sphinx.conf
- [x] remove from requirements.txt
- [ ] add how to include it to docs

[2016-12-05 15:24] svx opened #126 "Remove link-check from Sphinx"
Coala will do these since that is faster and more reliable:

- [ ] remove from sphinx.conf
- [ ] remove from buildout
- [ ] update docs

[2016-12-13 14:41] svx commented on #117
In the meantime, sphinx 1.5 is out

[2016-12-22 10:11] svx commented on #74
Ok closing this for now

[2016-12-22 10:11] #74 closed, assigned to nobody

[2016-12-22 10:29] svx commented on #86
OK, original idea is not working because of all the different branches, we need a script which runs check against certain branches, we can not do:

[code]
Because we are using different branches for different Plone versions.

I would like to change that for papyrus anyway, because IMHO for papyrus at least for my idea for version 5.1 we do not need that anymore.

Possible workaround till we are th

[2016-12-22 10:36] svx commented on #86
Something like that should work:

[code]

[2017-01-03 17:24] polyester opened #127 "Discussion: separate out robot-screenshots"
The generating of robot-screenshots is nice, but it is also very fragile, and is hindering upgrades. See also https://github.com/plone/papyrus/issues/118#issuecomment-263045817

So, the question is if it would be a better idea to separate them out into a separate test-suite; that would only depend on Plone, not Sphinx. The resulting screenshots could then be uploaded into a repository, and the scr

[2017-01-03 18:16] svx commented on #127
I wrote more or less the [same](https://github.com/plone/papyrus/blob/papyrus_1.5/docs/blueprint.rst).

Also, I have a almost flawless working papyrus 1.5 alpha 0.0.1.

Besides a good solution for robot-screen-shots all what is over to fix is a better coala setup, which should be painless easy once there is a new coala release, since I do not want to use ``pre`` releases for production.

The other

[2017-02-15 14:56] MrTango opened #129 "Robotframework is failing if :ref: commands are used in the docs"
You can see this currently in the adding-folders.rst which fails because of this line:

[code]

[2017-02-15 14:57] MrTango commented on #127
I like the idea of separating the screenshot generation. Also because of problem combining the robotframework code with the spinx code see: #129.

[2017-02-15 17:55] MrTango opened #130 "SSL-Certificate on docs.plone.org is expired, we should replace it with letsencrypt"

[2017-02-15 20:41] svx commented on #130
There is already a open ticket for this issue in the docs issue tracker.

This is a signature

[2017-02-16 09:02] MrTango commented on #130
ok i close this, see https://github.com/plone/documentation/issues/745

[2017-02-16 09:02] #130 closed, assigned to nobody

[2017-02-16 09:20] MrTango commented on #129
@datakurre could it be that this is related to sphinxcontrib-robotframework?
Do you have any hints how to solve this?

[2017-02-16 10:16] datakurre commented on #129
Are there any more detailed errors or stacktraces? Currently I can only guess that the issue is that robot environment does not have required robot extensions.

[2017-02-16 11:28] MrTango commented on #129
That is what i get if i run this robot test to generate a screen shot:

[code]

other robot tests generating scren shots are working and it is definitely the :ref: part which is breaking it.

[2017-02-17 08:25] datakurre commented on #129
@MrTango Thanks. I believe this is because of ``./bin/robot`` not having the same docutils environment with Sphinx. So, most probably screenshot-generation in sphinx-build still works normally. Just executing the docs "as tests" with robot framework fails.

I'll look this during weekend. Probably I can make bin/robot to load Sphinx-packages so that docutils behaves similarly.

[2017-02-17 09:05] MrTango commented on #129
No it does not, thats why i run this robot manually.
You can see that in the officially docs the screen shoots for add folders are missing.
http://docs.plone.org/working-with-content/adding-content/adding-folders.html

[2017-02-22 19:16] datakurre commented on #129
@MrTango I'll release plone.app.robotframeowrk 1.0.2 soon, which will fix this issue.

[2017-02-22 20:35] MrTango commented on #129
Thank your very much Asko.
I'll try it out in a view days.

[2017-03-01 06:49] #129 closed, assigned to datakurre

[2017-03-03 18:30] svx commented on #109
Reminder, lets check all currently fetched 'exteranl' docs, so that we can get rid of fetching 'evil' READMES

- [x] bobtemplates, has an /docs/index with docs, we need to adjust its own README to point to the right docs

[2017-03-16 16:00] svx opened #132 "Plone 5.0.7 breaks papyrus"
[code]
Version conflicts with zc.buildout and setuptools.

 I guess we also need to update https://github.com/plone/papyrus/blob/5.0/checkouts-documentation.cfg

[2017-05-29 13:37] svx opened #134 "Build and update (certain) eternal docs only"
# Abstract

Sometimes we do not want to build and publish the whole docs including all external sources, instead of this we only want to build and publish external or even only partly external docs.

## Example

There we lost of nice additions to our Ansible docs, thus we would like to fetch and release only these to docs.plone.org.

In the old days we had
[code]
which was fetching and building ex

[2017-05-29 13:43] svx commented on #117
Closing this, we are way behind of Sphnix versions anyway, still good to have this under closed issues, anyway :)

[2017-05-29 13:43] #117 closed, assigned to nobody

[2017-05-29 13:48] svx commented on #121
Closing this, the new papyrus will be for building **not** for testing.
Since building is different for testing, we will use one tool for building and another tool for testing.

[2017-05-29 13:48] #121 closed, assigned to nobody

[2017-06-21 10:41] svx opened #135 "Add brotli support"
This is meant for the successor of papyrus.

Add brotli and convert certain static files, meaning not files which are already compressed like png and such.

Really dirty proof of concept, do not use in prod, since there is no file checking or looping through sub dirs ....

[code]

We could also go with the dynamic approach, but this IMHO would be the overkill for static stuff ...

With this severi

[2017-07-07 13:15] svx opened #140 "Move robots to CMFPlone"
- [x] remove robot framework from buildout
- [x] remove Plone from buildout
- [ ] remove from Makefile
- [ ] remove update docs
- [ ] fetch images from CMFPlone
- [ ] include new build step

[2017-10-22 13:51] svx opened #142 "Cleanup and change setup"
Robots are gone from the docs, the are now in CMF Plone, what we need to do:

- Pull pics repo : has to be pulled in and places in the /_robots directory
- Cleanup travis, remove all plone and robot stuff, add new test matrix

[2017-10-25 12:05] svx opened #143 "[papyrus 2.0] Setup git subtree"
We should setup a git subtree to include the new image repository.

With that we should get the latest image updates from jenkins during git pull.

Steps to do:

- [ ] Add the steps to install/setup part in the docs
- [ ] Do the setup

@polyester is that about right ? Or do I forgot something ?

[2017-10-25 12:29] polyester commented on #143
Probably decide on a sane branching/naming scheme for https://github.com/plone/documentation-roboshots

Currently "master" there is latest 5.1, but hand-checked to know they are good _(well, as good as robot-generated can be)_

If we start to do Jenkins-generated ones, they should probably go into another branch, to avoid the situation that a borked test, or a breakage in the headless browser used

[2017-10-25 12:38] svx commented on #143
What is with the idea to do it like RTD ? Would that OK?

Meaning:

latest = always the latest aka unstable/testing [would be master]
and below that we have branches according to versions.

That is basically the same what I would like to do with the docs.

Does that would make sense ?

[2017-10-25 13:03] polyester commented on #143
Makes sense, only I would like to have a 'last known good' set of pics. Although I suppose you could do a git revert if one run breaks everything, but that is a hassle.

Still, maybe it's good having a setup where the Jenkins-based testruns first go to a 'staging-5.1' or 'staging-5.2' branch before being put in "latest" and the 5.x branches.  At least, until the ecosystem of "headless browsers + w

[2017-10-26 16:15] svx opened #144 "Remove "externa" from checkouts-documentation"
Currently we have in checkouts-documentation

[code]
The *external* is not useful for user, it 'just' adds confusion.

##Solution

- [ ] remove *external* from script
- [ ] adjust nginx to catch these and rewrite to use without *external* with that old links and bookmarks will still work.

@polyester comments, suggestions ? :)

[2017-10-26 16:26] polyester commented on #144
good idea, let's make sure we get the details right:

- [ ] determine where each of these go, semantically speaking. At least for those where we already have a fitting category. So the various 'testing' packages go under develop/testing section, theming/diazo under adapt-and-extend/theming etc. We actually already have most, if not all, of them in the right TOCs in docs.plone.org, so that should b

[2017-10-26 16:34] svx commented on #144
Lets start one by one:

[code]
should go under /manage

We should try to change the script to create

[code]

Currently it creates:

[code]

Which is a bit too much :)

[2017-11-03 10:45] svx opened #146 "The Great Cleanup And Buildout Removal"
We are moving slowly to our improved build setup, aka papyrus 2.0 aka coster (thanks @fredvd) for the name suggestion !

The fist step is already done with ripping out robots (done by CMFPlone now)

Things to do for step 2 on the way:

- [x] more cleanup of Makefile (still some robot stuff here)
- [ ] check if we still need buildout, maybe pip install is enough
- [ ] get rid of stuff in buildout w

[2017-11-03 10:46] svx commented on #132
Not an issue anymore, since we do not need Plone here anymore :)

[2017-11-03 10:46] #132 closed, assigned to nobody

[2017-11-03 10:48] svx commented on #127
We did it for the docs ! Done here, but this still needs to be setup on Jenkins @polyester @gforcada can you have a look when you have time ?

[2017-11-03 10:50] svx commented on #118
Not an issue anymore, screen-shots are now in CMFPlone

[2017-11-03 10:50] #118 closed, assigned to nobody

[2017-11-03 10:50] svx commented on #115
Obsolete! :)

[2017-11-03 10:50] #115 closed, assigned to nobody

[2017-11-03 10:52] svx commented on #101
We moved from freshdesk to gitter to have a unified button through all sites: training, plone.org, docs

[2017-11-03 10:52] #101 closed, assigned to nobody

[2017-11-03 10:52] svx commented on #85
No need anymore, robots are now in CMFPlone

[2017-11-03 10:52] #85 closed, assigned to nobody

[2017-11-03 10:53] svx commented on #63
this was done a long time ago

[2017-11-03 10:53] #63 closed

[2017-11-03 11:14] svx commented on #146
@polyester if you have time, would you mind to setup the weekly image test/build and push to image repo on Jenkins together with @gforcada ?

[2017-11-03 13:12] gforcada commented on #127
Yes I can have a look, where are the robot tests now? In Cmfplone? Is there a special way to trigger them?

[2017-11-03 13:42] polyester commented on #127
they live at https://github.com/plone/Products.CMFPlone/tree/master/Products/CMFPlone/tests/robot/robodoc, the easiest way to trigger them is from a full buildout.coredev instance where you run
 bin/pybot -v BROWSER:phantomjs src/Products.CMFPlone/Products/CMFPlone/tests/robot/robodoc

(when using phantomjs as the browser). I'll be experimenting with headless Chrome as a driver, but phantomjs work

[2017-11-03 13:48] polyester commented on #127
The idea is that we don't run them at every jenkins run, because they are expensive/long to run, but let's say once a week (in the future), and then the results get pushed into https://github.com/plone/documentation-roboshots

[2017-11-06 14:20] svx opened #147 "Renaming Branches"
As discussed during the conference, we will be rename the branches of papyrus and the docs.

New naming schema:

master: will be the 'unstable' aka 'latest' branch

According to releases we cut branches to/for pin releases.

Todo:

- rename 5.1 to master
- make sure the new master is in sync with versions from CoreDev
- create a 5.1 branch **when** we release, adjust versions of stuff we include
A

[2018-02-10 08:39] svx opened #148 "Create script to get screens"
Write a script which will clone the right branch for your docs and which places the clone under _robots in the docs dir

[2022-08-25 22:49] #67 closed, assigned to nobody